
.horizontal-field {
  display: flex;
  overflow-x: auto;
  position: relative;
  top: 50px;
  left: 0px;
  right: 0px;
  width: 110%;
}
.product-card {
 width: auto;
 height: auto;
 margin-right: 40px;
 border-radius: 10px;
}
.product-card img {
  width: 404px;
  height: 605.5px;
  border-radius: 15px;
}
.product-info {
  margin-top: 20px;
  text-align: center;
}
.product-card[id="1"] {
  width: auto;
  height: auto;
  margin-left: 60px;
 }

 body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
}
h1{
  font-size: 80px;
  position: relative;
  left: 60px;
}
.product-card h2 {
  font-size: 34px;
  margin-bottom: 10px;
}
.product-card .price {
  font-weight: 700;
  color: #000000;
  font-size: 60px;
  position: relative;
  top: -50px;
}
